<div class="main">
  <div class="container">

  		<h3>Upload de arquivo</h3>
  		
  		<%= form_tag import_formularios_path, multipart: true do %>

  		<%= file_field_tag :file %>
  		<%= submit_tag "Import" %>

  		<% end %>

  		<br>
		<h3>Listando todos os dados do arquivo</h3>
    	<br>
    	
    	<% if @formulario.blank? %>
		    <p>Base de dados não preenchida...</p>
		<% else %>

			<%= button_to "Exibir receita bruta", income_formularios_path, method: :get %>
			<br>
			<hr>
		    <%= @formulario.each do |f| %>

	    	<!--div class="message"--> 
			  <p class="content"><b>Cliente: </b> <%= f.purchaser_name %></p> 
			  <p class="content"><b>Descrição do item: </b> <%= f.item_description %></p>
			  <p class="content"><b>Valor do item: </b> <%= f.item_price %></p> 
			  <p class="content"><b>Quantidade do item: </b> <%= f.purchase_count %></p> 
			  <p class="content"><b>Endereço do vendedor: </b> <%= f.merchant_address %></p> 
			  <p class="content"><b>Nome do vendedor: </b> <%= f.merchant_name %></p> 
			 
			   <hr/>
			<!--/div-->
	    	<% end %>
		<% end %>

    	<%= button_to "Voltar", welcome_path, method: :get %>

  </div>
</div>